<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	
	xsi:schemaLocation=" 
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/task  
            http://www.springframework.org/schema/task/spring-task-3.0.xsd">
       
       <bean id="sysConfig" class="com.yisan.util.ConfigReader">
       		<property name="fileEncoding" value="UTF-8" />
       		<property name="locations">
       			<list>
       				<value>classpath*:*.properties</value>
       			</list>
       		</property>
       </bean>   
       
       <context:annotation-config />
       <context:component-scan base-package="com.yisan" />
       
      <!--  <bean id="yx007jishi"  class="com.yx.craw.Yx007jishiAction" init-method="craw" /> -->
       <bean id="leagueQueue" class="java.util.concurrent.LinkedBlockingQueue" />
       <bean id="historyMatchQueue" class="java.util.concurrent.LinkedBlockingQueue" />
       <bean id="teamQueue" class="java.util.concurrent.LinkedBlockingQueue" />
       <import resource="application-job.xml"/>
       <import resource="application-db.xml"/>
            
</beans>